<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Caregivers</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
    
    <script type="text/javascript" src="/static/app/doctor.controller.js" th:src="@{/app/doctor.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="DoctorController as vm">


<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/login"><img src="images/icon.png" alt="" style="height:35px; width:50px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/patients">Patients</a></li>
            <li><a href="/caregivers">Caregiver</a></li>
            <li><a href="/medication">Medication</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="pageHeader">
	<h1>Caregivers Management</h1>

</div>
</nav>
</header>


<!-- Modal Add Caregiver-->
<div class="modal fade" id="exampleModalAddCaregiver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Add Caregiver</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" style="width:175px" >
			  </div>
			  <div class="form-group" >
			    <label>Birth Date</label>
			    <input type="text" class="form-control" placeholder="Birth Date" ng-model="birthDateTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Gender</label>
			    <input type="text" class="form-control" placeholder="Gender" ng-model="genderTxt" style="width:175px" >
			  </div>
			  <div class="form-group">
			    <label>Address</label>
			    <input type="text" class="form-control" placeholder="Address" ng-model="addressTxt" style="width:175px" >
			  </div>
			</form>
			  
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.addCaregiver(nameTxt, birthDateTxt, genderTxt, addressTxt)" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Update Caregiver -->
<div class="modal fade" id="exampleModalUpdateCaregiver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Update Caregiver</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" style="width:175px">
			  </div>
			  <div class="form-group" >
			    <label>Birth Date</label>
			    <input type="text" class="form-control" placeholder="Birth Date" ng-model="birthDateTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Gender</label>
			    <input type="text" class="form-control" placeholder="Gender" ng-model="genderTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Address</label>
			    <input type="text" class="form-control" placeholder="Address" ng-model="addressTxt" style="width:175px">
			  </div>
			  </form>
			  
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.updateCaregiver(nameTxt, birthDateTxt, genderTxt, addressTxt)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Add Account -->
<div class="modal fade" id="exampleModalAddAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Add Caregiver Account</h5>
      </div>
	  <div class="modal-body">
   			<form>
			  <div class="form-group" style="margin-left: 130px;">
			  <label for="sel1">Select caregiver:</label>
		      <select class="form-control" id="sel1" style="width:70%;" ng-model="caregiverName">
		        <option ng-repeat="caregiver in vm.allCaregivers">{{caregiver.name}}</option>
		      </select>
		      </div>
		      <div class="form-group" style="margin-left: 200px;">
			    <label>Username</label>
			    <input type="text" class="form-control" placeholder="Username" ng-model="usernameTxt" style="width:175px">
			  </div>
			  <div class="form-group" style="margin-left: 200px;">
			    <label>Password</label>
			    <input type="password" class="form-control" placeholder="Password" ng-model="passwordTxt" style="width:175px" >
			  </div>
			  </form>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.addCaregiverAccount(usernameTxt, passwordTxt, caregiverName)" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>


<div class="tableContainer">

<button type="button" class="btn btn-light"  data-toggle="modal" data-target="#exampleModalAddCaregiver">Add Caregiver</button>
<button type="button" style="float:right" class="btn btn-light"  data-toggle="modal" data-target="#exampleModalAddAccount">Add Account</button>

      <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search" ng-model="stringTxt">
  <button class="btn btn-primary" ng-click="vm.search(stringTxt,'Caregiver')">Search</button>

<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Name</th>
      <th scope="col">Birth date</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Patients in care</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="caregiver in vm.allCaregivers">
      <td>{{caregiver.name}}</td>
      <td>{{caregiver.birthDate}}</td>
      <td>{{caregiver.gender}}</td>
      <td>{{caregiver.address}}</td>
      <td>
      	<p ng-repeat="patient in caregiver.patients">{{patient}}</p>
      </td>
      <td>
      	<button type="button" class="btn btn-info" ng-click="vm.updateSelectedCaregiverJSON(caregiver)" data-toggle="modal" data-target="#exampleModalUpdateCaregiver">Update</button>
		<button type="button" class="btn btn-danger" ng-click="vm.deleteCaregiver(caregiver.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>

</body>
