<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Account</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

	
  
    
    <script type="text/javascript" src="/static/app/caregiver.controller.js" th:src="@{/app/caregiver.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="CaregiverController as vm">


<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/login"><img src="images/icon.png" alt="" style="height:35px; width:50px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
  <div class="pageHeader">
	<h1>Account Info</h1>

</div>
</nav>
</header>

<div id="main-content" class="container">
 <!--   <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div> -->
    <div class="row" style="width:450px">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Notifications</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
 
</div>
<div class="tableContainer">

<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Name</th>
      <th scope="col">Birth date</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{vm.caregiver.name}}</td>
      <td>{{vm.caregiver.birthDate}}</td>
      <td>{{vm.caregiver.gender}}</td>
      <td>{{vm.caregiver.address}}</td>
      <td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="tableContainer">

<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Patients in care</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="patient in vm.caregiver.patients">
      <td>{{patient}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>

</body>
