<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Medication</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
    
    <script type="text/javascript" src="/static/app/doctor.controller.js" th:src="@{/app/doctor.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="DoctorController as vm">


<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/login"><img src="images/icon.png" alt="" style="height:35px; width:50px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/patients">Patients</a></li>
            <li><a href="/caregivers">Caregiver</a></li>
            <li><a href="/medication">Medication</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="pageHeader">
	<h1>Medication Management</h1>
</div>
</nav>
</header>


<!-- Modal Add Medication -->
<div class="modal fade" id="exampleModalAddMedication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Add Medication</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" style="width:175px" >
			  </div>
			  <div class="form-group" >
			    <label>Side effects</label>
			    <input type="text" class="form-control" placeholder="Side effects" ng-model="sideEffectsTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Dosage</label>
			    <input type="text" class="form-control" placeholder="Dosage" ng-model="dosageTxt" style="width:175px" >
			  </div>
			  </form>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.addMedication(nameTxt, sideEffectsTxt, dosageTxt)" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update Medication -->
<div class="modal fade" id="exampleModalUpdateMedication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Add Medication</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" style="width:175px" >
			  </div>
			  <div class="form-group" >
			    <label>Side effects</label>
			    <input type="text" class="form-control" placeholder="Side effects" ng-model="sideEffectsTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Dosage</label>
			    <input type="text" class="form-control" placeholder="Dosage" ng-model="dosageTxt" style="width:175px" >
			  </div>
			  </form>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.updateMedication(nameTxt, sideEffectsTxt, dosageTxt)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>

<center>
<div style="border:2px">
	<label for="sel1">Select patient:</label>
			 <select class="form-control" id="sel1" style="width:70%;" ng-model="patientName">
			        <option ng-repeat="patient in vm.allPatients">{{patient.name}}</option>
			      </select>
	<label>Intake interval</label>
	<input type="text" class="form-control" placeholder="Intake interval" ng-model="intakeTxt" style="width:175px">
	<label>Treatment period</label>
	<input type="text" class="form-control" placeholder="Treatment period" ng-model="periodTxt" style="width:175px">
</div>
</center>
<!--
<div style="width:50%">
     	<label for="sel1">Select patient:</label>
			 <select class="form-control" id="sel1" style="width:70%;" ng-model="patientName">
			        <option ng-repeat="patient in vm.allPatients">{{patient.name}}</option>
			      </select>

        <table id="classTable" class="table table-bordered">
        
          <thead>
            <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Side effects</th>
		      <th scope="col">Dosage</th>
		      <th scope="col">Actions</th>
		       </tr>
          </thead>
          <tbody>
		    <tr ng-repeat="medication in vm.allMedications">
		      <td>{{medication.name}}</td>
		      <td>{{medication.sideEffects}}</td>
		      <td>{{medication.dosage}}</td>
		      <td>

			  </td>
		    </tr>
          </tbody>
        </table>

</div>
-->

        

<div class="tableContainer">

<button type="button" class="btn btn-light"  data-toggle="modal" data-target="#exampleModalAddMedication">Add Medication</button>
<button type="button" style="float:right" class="btn btn-light"  data-toggle="modal" ng-click="vm.previewMedicationPlan()">Preview Medication Plan</button><br>
<button type="button" style="float:right" class="btn btn-light"  data-toggle="modal" ng-click="vm.createMedicationPlan(patientName, intakeTxt, periodTxt)">Create Medication Plan</button>

  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search" ng-model="stringTxt">
  <button class="btn btn-primary" ng-click="vm.search(stringTxt,'Medication')">Search</button>
<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Name</th>
      <th scope="col">Side effects</th>
      <th scope="col">Dosage</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="medication in vm.allMedications">
      <td>{{medication.name}}</td>
      <td>{{medication.sideEffects}}</td>
      <td>{{medication.dosage}}</td>
      <td>
      	<button type="button" class="btn btn-info" data-toggle="modal" ng-click="vm.updateSelectedMedicationJSON(medication)" data-target="#exampleModalUpdateMedication">Update</button>
		<button type="button" class="btn btn-danger" ng-click="vm.deleteMedication(medication.id)">Delete</button>
	  	<button type="button" class="btn btn-info" ng-click="vm.addToMedicationPlan(medication.name)"> Add to Medication plan</button>
	  </td>
    </tr>
  </tbody>
</table>
</div>
</div>

</body>
