<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Account</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
  
    
    <script type="text/javascript" src="/static/app/patient.controller.js" th:src="@{/app/patient.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="PatientController as vm">


<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/login"><img src="images/icon.png" alt="" style="height:35px; width:50px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/patientRPC">Pill dispenser</a></li>
            <li><a href="/patient_account">Patient account</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
  <div class="pageHeader">
	<h1>Account Info</h1>

</div>

</nav>
</header>




<div class="tableContainer">

<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Name</th>
      <th scope="col">Birth date</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Medical Record</th>
      <th scope="col">Caregiver</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{vm.patient.name}}</td>
      <td>{{vm.patient.birthDate}}</td>
      <td>{{vm.patient.gender}}</td>
      <td>{{vm.patient.address}}</td>
      <td>{{vm.patient.medicalRecord}}</td>
      <td>{{vm.patient.caregiverName}}</td>
      <td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="tableContainer">

<div>
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col">Intake interval</th>
      <th scope="col">Treatment period</th>
      <th scope="col">Given by doctor</th>
      <th scope="col">Medications</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="medicationPlan in vm.patient.medicationPlansDTO">
      <td>{{medicationPlan.intakeIntervals}}</td>
      <td>{{medicationPlan.treatmentPeriod}}</td>
      <td>{{medicationPlan.doctorName}}</td>
      <td><p ng-repeat="medication in medicationPlan.medicationNames">{{medication}}</p>
    </tr>
  </tbody>
</table>
</div>
</div>

</body>
