<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Account</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  
    
    <script type="text/javascript" src="/static/app/patient.controller.js" th:src="@{/app/patient.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="PatientController as vm">


<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/login"><img src="images/icon.png" alt="" style="height:35px; width:50px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/patientRPC">Pill dispenser</a></li>
            <li><a href="/patient_account">Patient account</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
  <div class="pageHeader">
	<h1>Pill Dispenser</h1>

</div>

</nav>
</header>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><div class="card border-primary mb-3" style=" border: 1px solid #B0E0E6; background-color:#F0FFFF">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;" id = "currentTime">Time</h4>
          </div>
   		 </div>
    </th>
      <th scope="col">	<div class="card border-primary mb-3" style=" border: 1px solid #B0E0E6; background-color:#F0FFFF">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;"></h4>
             <center><button ng-click="vm.download()" style="width:150px;">Download</button>
          	 <button ng-click="vm.refreshList()" style="width:150px;">Refresh</button></center>
          </div>

    		</div>
    </th>
         <th scope="col">		
         	<div class="card border-primary mb-3" style=" border: 1px solid #B0E0E6; background-color:#F0FFFF; width: 40%;">
          		<div class="card-body">
            		<h4 class="card-title" style="text-align: center;" id = "intakeInterval">Intake interval</h4>
            		
          		</div>
    		</div>
    </th>
    </tr>
  </thead>
</table>


<div class="tableContainer" style="width: 60%;" >

<div id="refreshDiv">
<table class="table table-hover">
  <thead>
    <tr style="background-color:#B0E0E6">
      <th scope="col" style="text-align: center;">Medications</th>
      <th scope="col" style="text-align: center;">Status</th>
    </tr>
  </thead>
  <tbody id="medicationsTable">
    <tr ng-repeat="medication in vm.medicationsList track by $index">
      <td style="text-align: center;"><p ng-model="medicationName">{{medication.name}}</p></td>
      <td style="text-align: center;" ng-if="medication.status != 'Not taken'"><button disabled>{{medication.status}}</button></td>
      <td style="text-align: center;" ng-if="medication.status == 'Not taken'"><button  ng-click="vm.takeMedication(medication.name)">Take medication</button></td>
      
    </tr>
  </tbody>
</table>
</div>
</div>

</body>
